.banner{
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    height: 700px;
}
.banner-content{
    text-align: center;
    margin: 290px 268px 152px;;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    font-size: 20px;
}
.action{
    display: flex;
    margin: 116px 180px;
    gap: 250px;
}
.action-img img{
    height:330px;
    width: 405px;
   border-radius: 50px;
}
.section-productive{
    text-align: center;
    width:1140px ;
    height:306px ;
    margin: 116px 150px;
    padding: 60px 150px;
    background-color: #5955e06b;
    border-radius: 25px;
}
.section-detail{
    display: flex;
    justify-content: center;
    gap: 160px;
  
}
.review-section{
    margin: 145px 150px;
}
.review-section-title{
    text-align: center;
}
.users-card{
    display: flex;
    gap: 20px;
    
}
.user{
    background-color: #fef9f9;
    border: 2px crimson;
    box-shadow: 10px 10px 10px black;
    border-radius: 15px;
    text-align: left;
    height: 250px;
    width: 350px;
    padding: 30px;
    margin-top: 55px;
}
.user-info{
    display: flex;
    gap: 20px;
    text-align: left;
    align-items: center;
}
.user-img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
    
.user:hover{
    background-color:cornflowerblue;
    transform:scale(1.06);
}
/* second-bg */
.webflow-section img {
     height: 400px;
     width: 840px; 
     border-radius: 70px;
     padding-top: 20px; 
     margin: 150 261;
}
.webflow-section{
    text-align: center;
    /* margin: 170px 150px; */
    
}